@model Web_Grundlagen.Models.User
@{
    ViewData["Title"] = "Login";
}


<form asp-controller="user" asp-action="login" methode="post">

    <table>

        <thead>

            <tr>
                <th colspan="2">Login</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Email *</td>
                <td>
                    <input type="email" asp-for="Email" />
                </td>
                <td>
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr>
                <td>Password *</td>
                <td>
                    <input type="password" asp-for="Pwd" />
                </td>
                <td>
                    <span asp-validation-for="Pwd"></span>
                </td>
            </tr>
            <td colspan="2"></td>
                <td>

                    <input type="submit" value="absenden" />
                    <input type="reset" value="abbrechen" />
                </td>
           </tr>
       </tbody>
        <tfoot>
            <tr>
                <th colspan="2">*-Felder sind Pflichtfelder</th>
            </tr>
        </tfoot>
    </table>
</form>