@model Web_Grundlagen.Models.User

@{
    ViewData["Title"] = "Login";
}
<body>

    <h1>Login</h1>

    <form asp-controller="User" asp-action="Login" method="post">
        <table>
            <thead>
                <tr>
                    <th colspan="2">Login</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email *</td>
                    <td>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>Password *</td>
                    <td>
                        <input type="password" asp-for="Pwd" class="form-control" />
                        <span asp-validation-for="Pwd" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td>
                        <input type="submit" value="Login" />
                        <input type="reset" value="Reset" />
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">*-Felder sind Pflichtfelder</th>
                </tr>
            </tfoot>
        </table>
    </form>

</body>

