@model Web_Grundlagen.Models.User
@{
    ViewData["Title"] = "Registration";
}


<form asp-controller="user" asp-action="registration" methode="post">

    <table>

        <thead>

            <tr>
                <th colspan="2">Registrierungsformular</th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>Name *</td>
                <td>
                    <input type="text" asp-for="Name"/>
                </td>
                <td>
                    <span asp-validation-for="Name"></span>
                </td>
            </tr>
             <tr>
                <td>Email *</td>
                <td>
                    <input type="email" asp-for="Email"/>
                </td>
                <td>
                    <span asp-validation-for="Email"></span>
                </td>
            </tr>
            <tr>
                <td>Password *</td>
                <td>
                    <input type="password" asp-for="Pwd" />
                </td>
                <td>
                    <span asp-validation-for="Pwd"></span>
                </td>
            </tr>
            <tr>
            <tr>
                <td>Password erneut eingeben*</td>
                <td>
                    <input type="password" asp-for="PwdRetype" />
                </td>
                <td>
                    <span asp-validation-for="PwdRetype"></span>
                </td>
            </tr>
            <tr>
                <td>Geburtsdatum</td>
                <td>
                    <input type="date" asp-for="Birthdate"/>
                </td>
                <td>
                    <span asp-validation-for="Birthdate"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>
                   
                    <input type="submit" value="absenden" />
                    <input type="reset" value="abbrechen" />
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">*-Felder sind Pflichtfelder</th>
            </tr>
        </tfoot>
    </table>
</form>