@model Web_Grundlagen.Models.User
@{
    ViewData["Title"] = "Registration";
}


<body>

    <h1>Registrierungsformular</h1>
    <form id="registrationForm" asp-controller="User" asp-action="Registration" method="post">
        <div>
            <label asp-for="Name">Name *</label>
            <input asp-for="Name"onblur="validateName()"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email *</label>
            <input asp-for="Email" type="email" class="form-control" onblur="validateEmail()"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Pwd">Password *</label>
            <input asp-for="Pwd" type="password" class="form-control" onblur="validatePassword()" />
            <span asp-validation-for="Pwd" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="PwdRetype">Password erneut eingeben *</label>
            <input asp-for="PwdRetype" type="password" class="form-control" onblur="validatePasswordRetype()" />
            <span asp-validation-for="PwdRetype" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Birthdate">Geburtsdatum</label>
            <input asp-for="Birthdate" type="date" class="form-control" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
        <div class="form-group">
                <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="submit()">Absenden</button>
                    <button type="reset" class="btn btn-secondary">Abbrechen</button>
                </div>
        </div>
    </form>
</body>

