@model List<Web_Grundlagen.Models.User>

@using Web_Grundlagen.Models

@{
    ViewData["Title"] = "Alle Benutzer anzeigen";
}

@if (Model != null && Model.Count > 0)
{
    <h2>Alle Benutzer</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Geburtsdatum</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Birthdate.ToLongDateString()</td>
                </tr>
            }
        </tbody>
        
    </table>
}
else
{
    <p>Es sind noch keine Benutzer vorhanden!</p>
}
