@using Web_Grundlagen.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web_Grundlagen</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web_Grundlagen.styles.css" asp-append-version="true" />
    @*Hier wird *@
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    @*
    div ist ein Container (Blockelement -> erzeugt einen Absatz)
    <span> ist ein Inline-Element (-> erzeugt keinen Absatz)
    id      ... eindeutig zugreifbar
    class   ... CSS-Formatierungen können so auf mehrere Elemente angewandt werden

    *@  
    
    <div id="container">

        <header>

            Kopfbereich
            <p>

                @{
                    var user = HttpContextAccessor.HttpContext.Session.Get<User>("User");
                   
                    if (user != null) {

                        <text>@user.Name</text>
                        <form method="post" asp-action="Logout" asp-controller="User">
                            <button type="submit">Logout</button>
                        </form>
                    }
                    else {
                        <button><a href="/User/Login">Login</a></button>
                    }

                }

                

            </p>

        </header>

        <main>

            <nav>Navigation
                @*
                    diese Zeile und die Zeile mit <partial> sind identisch
                @await Html.PartialAsync("Navigation")*@

                <partial name="Navigation"></partial>
                

            </nav>

           

            <content>
                @RenderBody()
            </content>
        </main>

        <footer>

            Fußbereich

        </footer>

    </div>

    @* Comment Razor *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
