@using Web_Grundlagen.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<ul>
                <li class="level1">
                    <a href="/Home/Index">Home</a>
                </li>
                <li class="level1">
                    <a href="/home/aboutUs">Über Uns</a>
                </li>
                <li class="level1">
                    <a href="/user/index">Benutzerverwaltung</a>
                </li>
                <li class="level2">
                    <a href="/user/login">Login</a>
                </li>
                <li class="level2">
                    <a href="/user/registration">Registrierung</a>
                </li>
                <li class="level2">
                    <a href="/user/showOneUser">einen User anzeigen</a>
                </li>
                <li class="level2">
                    <a href="/user/showMultipleUser">mehrere User anzeigen</a>
                </li>
                <li class="level2">
                    <a href="/user/showAllUser">Userverwaltung</a>
                </li>

    @{
        var user = HttpContextAccessor.HttpContext.Session.Get<User>("User");
        if(user != null) {
            <li class="level2">
                <a href="/user/editUser?email=@user.Email">User ändern</a>
            </li>
        }
    }

</ul>
